<div class="product-item">
    <img
        src="https://th.bing.com/th/id/R.2a7caf9cca19f42bec21e56b791ec0a1?rik=hNpWHWEFDKu4SQ&riu=http%3a%2f%2f4.bp.blogspot.com%2f-lIoF1gjaFmQ%2fVSBEGOj0gkI%2fAAAAAAABT_w%2f-olYyG-miUw%2fs1600%2fLight-Sunscreen-For-The-Face-2.JPG&ehk=e1kb0umCOohk5TcXe3to6hUculSJMF2QXuzCDnVbxx4%3d&risl=&pid=ImgRaw&r=0"
        alt="Product 1"
    />
    <div class="details">
        <p class="product-name">Illuminating SunScreen</p>
        <div class="quantity-control">
            <button class="quantity-btn" id="dec">-</button>
            <span id="num">1</span>
            <button class="quantity-btn" id="inc">+</button>
        </div>
    </div>
    $
    <p class="price" id="priced">$24.50</p>
    <button class="remove" id="removed">x</button>
</div>
