.product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background-color: #fff;
}

.product-item img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin-right: 20px;
    object-fit: cover;
}

.details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.product-name {
    font-size: 1.2em;
    margin: 0 0 10px;
    font-weight: bold;
    color: #333;
}

.quantity-control {
    display: flex;
    align-items: center;
}

.quantity-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.quantity-btn:hover {
    background-color: #0056b3;
}

#num {
    font-size: 1.2em;
}

.price {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin: 0 20px;
}

.remove {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.remove:hover {
    background-color: #c82333;
}
