<div id="shopList">
    <h3>Shop List</h3>
    <ul>
        <li>
            <span>FaceCream</span>
            <button id="faceCream">Add to Cart</button>
        </li>
        <li>
            <span>Face Oil</span>
            <button class="add-to-cart" id="FaceOil">Add to Cart</button>
        </li>
        <li>
            <span>SunScreen</span>
            <button class="add-to-cart" id="sunscreen">Add to Cart</button>
        </li>
        <!-- Add more items as needed -->
    </ul>
</div>
