<div class="product-item">
    <img
        src="https://th.bing.com/th/id/R.df6dbe8c732c45d8e7c36ad53f54073d?rik=LnlPPCRFuyMD3w&pid=ImgRaw&r=0"
        alt="Face cream"
    />
    <div class="details">
        <p class="product-name">Illuminating face cream</p>
        <div class="quantity-control">
            <button class="quantity-btn" id="dec">-</button>
            <span id="num">1</span>
            <button class="quantity-btn" id="inc">+</button>
        </div>
    </div>
    $
    <p class="price" id="priced">13.99</p>
    <button class="remove" id="removed">x</button>
</div>
