<div id="container">
    <div id="Order">
        <h3>Order Summary</h3>
        <p>
            Subtotal <span>$ <span id="num1">00.00</span></span>
        </p>
        <p>
            Tax <span>$<span id="num2">00.00</span></span>
        </p>
        <p>
            Shipping <span>$<span id="num3">00.00</span></span>
        </p>
        <hr />
        <p>
            Total <span>$<span id="num4">00.00</span></span>
        </p>
        <button class="pay-now">Pay now</button>
        <button class="pay-now2" id="pay-now2">Continue Shopping</button>
    </div>
    <div id="promo">
        <h3>Promo Code</h3>
        <input type="text" placeholder="Enter promo code" />
    </div>
    <div id="product">
        <h3>
            Your product list <span><span id="count">0</span> Items</span>
        </h3>
        <!-- Add product items here -->
    </div>

    <div id="Shop"></div>
</div>
