<div id="Order">
    <h3>Order Summary</h3>
    <p>Subtotal <span>$00.00</span></p>
    <p>Tax <span>$0.00</span></p>
    <p>Shipping <span>$0.00</span></p>
    <hr />
    <p>Total <span>$00.00</span></p>
    <button class="pay-now">Pay now</button>
    <button class="pay-now2" id="pay-now2">Continue Shopping</button>
</div>
<div id="promo">
    <h3>Promo Code</h3>
    <input type="text" placeholder="Enter promo code" />
</div>
<div id="product">
    <h3>
        Your product list <span><span id="count">0</span> Items</span>
    </h3>
    <!-- Add product items here -->
</div>

<div id="Shop"></div>
