<div id="container">
    <div id="Order">
        <h3><u>Order Summary</u></h3>
        <p>
            Subtotal <span>$ <span id="num1">00.00</span></span>
        </p>
        <p>
            Tax <span>$<span id="num2">00.00</span></span>
        </p>
        <p>
            Shipping <span>$<span id="num3">00.00</span></span>
        </p>
        <hr />
        <p>
            Total <span>$<span id="num4">00.00</span></span>
        </p>
        <button class="pay-now" id="payy"><u> Pay now</u></button>
        <button class="pay-now2" id="pay-now2">
            <!-- test -->
            <u> Continue Shopping</u>
        </button>
    </div>
    <div id="promo">
        <h3>Promo Code - 30% Off</h3>
        <input
            id="inputval"
            type="text"
            placeholder="Enter promo code"
        /><br /><br />
        <div id="inputed"></div>
        <div id="unsec"></div>
    </div>
    <div id="product">
        <h3>
            <u>Your product list</u>
            <span><span id="count">0</span> Items</span>
        </h3>
        <!-- Add product items here -->
    </div>

    <div id="Shop"></div>
</div>
